* {
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-image: url("loginBackground.jpg");
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(359deg);
            transform: rotateZ(359deg);
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: rgba(4, 40, 68, 0.85);
}

.wrapper .login {
  position: relative;
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.wrapper .login.loading button {
  max-height: 100%;
  padding-top: 50px;
}

.wrapper .login.loading button .spinner {
  opacity: 1;
  top: 40%;
}

.wrapper .login.ok button {
  background-color: #8bc34a;
}

.wrapper .login.ok button .spinner {
  border-radius: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  height: 20px;
  -webkit-animation: none;
          animation: none;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.wrapper .login .input {
  position: relative;
}

.wrapper .login .input input {
  display: block;
  padding: 15px 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 2px;
  color: #110202;
}

.wrapper .login .input input:focus {
  outline: none;
  color: #444;
  border-color: #2196f3;
  border-left-width: 35px;
}

.wrapper .login .input input:focus + svg {
  opacity: 1;
  left: 8.75px;
  z-index: 1;
}

.wrapper .login .input svg {
  color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 20px;
  height: 20px;
  margin: 0;
  opacity: 0;
}

.wrapper .login .input svg g path {
  -webkit-transition: all 5s ease-out;
  transition: all 5s ease-out;
}

.wrapper .login a {
  font-size: 13px;
  color: #2196f3;
  text-decoration: none;
}

.wrapper .login .title {
  color: #444;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.wrapper .login .geny-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wrapper .login button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: #2196f3;
  color: #fff;
  display: block;
  border: none;
  margin-top: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 60px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 2px 2px;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  border-bottom-width: 7px;
}

.wrapper .login button .spinner {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 4px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  left: 50%;
  top: 0;
  opacity: 0;
  margin-left: -20px;
  margin-top: -20px;
  -webkit-animation: spinner 0.6s infinite linear;
          animation: spinner 0.6s infinite linear;
  -webkit-transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.wrapper .login:not(.loading) button:hover {
  -webkit-box-shadow: 0px 1px 3px #2196f3;
          box-shadow: 0px 1px 3px #2196f3;
}

.wrapper .login:not(.loading) button:focus {
  border-bottom-width: 4px;
}
/*# sourceMappingURL=login.css.map */